<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Cedar & Cypress Tax</title>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">

  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" />
  <link rel="stylesheet" href="public\css\styles.css">

  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/0b2a99a6b8.js" crossorigin="anonymous"></script>

  <!-- Bootstrap Scripts -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

</head>

<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<body>

  <section class="colored-section" id="title">

    <div class="container-fluid">

      <!-- Nav Bar -->

      <nav class="navbar navbar-expand-lg navbar-dark">

        <a class="navbar-brand" href=""></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#features">Why Choose Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#pricing">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#process">Get Started</a>
            </li>
            <!--
            <li class="nav-item">
              <a class="nav-link" href='documents'>Documents</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="blog">Blog</a>
            </li>
          -->
            <li class="nav-item">
              <a class="nav-link" href="#faq">FAQ</a>
            </li>
          </ul>

        </div>
      </nav>


      <!-- Title -->

      <div class="row">

        <div class="col-lg-6">
          <h1 class="big-heading">Cedar &amp; Cypress </h1>
          <h3>Two men. One Mission. <br /> To get you the most financially rewarding tax return for the smallest effort possible.</h3>
          <a href="https://cedarcypresstax.securefilepro.com/portal/#/login" class="btn btn-light my-4"><i class="fas fa-tree"></i> Portal</a>
          <a href="#form" class="btn btn-outline-light my-4">Contact Us</a>


        </div>

        <div class="col-lg-6">
          <img class="title-image" src="public\images\android-chrome-512x512.png" alt="tree-mockup">
        </div>

      </div>

    </div>

  </section>


  <!-- Features -->

  <section class="white-section" id="features">



    <div class="container-fluid">

      <h2> Why Choose Us </h2>
          <p>Passion, dedication, and a lot of coffee.</p>

      <div class="row">
        <div class="feature-box col-lg-4">
          <i class="icon fab fa-think-peaks fa-4x"></i>
          <h3 class="feature-title">Creative Solution</h3>
          <p>
          Unlike software programs, we are able to think outside of the box. We have a multi step review process to ensure we have identified all possible deductions.
        </p>
        </div>

        <div class="feature-box col-lg-4">
          <i class="icon fas fa-palette fa-4x"></i>
          <h3 class="feature-title">Client Satisfaction</h3>
          <p>
          You will have the chance to review your taxes before they are submitted and you are charged for our services.
        </p>
        </div>

        <div class="feature-box col-lg-4">
          <i class="icon fas fa-piggy-bank fa-4x"></i>
          <h3 class="feature-title">Your Time and Money.</h3>
          <p>
          Spend your time working on your business or with family rather than worrying about your taxes. We understand how important time and money are for you and your family, we're here to make sure you have the most of it to spend with your loved ones.
        </p>
        </div>
      </div>


    </div>
  </section>

  <section class="colored-section" id="press">
    <h3>You must pay taxes. But there’s no law that says you gotta leave a tip. <br> -Morgan Stanley</h3>

  </section>


  <!-- Pricing -->

  <section class="white-section" id="pricing">

    <h2 class="section-heading">Pricing</h2>


    <div class="row">

      <div class="pricing-column col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header">
            <h3>Individual </h3>
            <h3>& Schedules (A-E)</h3>
          </div>
          <div class="card-body">
            <h2 class="price-text">$160</h2>
            <p>Form 1040</p>
            <p>Form 1040-SR</p>
            <h3>$60-$69 / Schedule</h3>
          </div>
        </div>
      </div>




      <div class="pricing-column col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header">
            <h3>Trusts, Estates </h3>
            <h3>& Gifts</h3>
          </div>
          <div class="card-body">
            <h2 class="price-text">$365</h2>
            <p>Form 1041</p>
            <p>Form 709</p>
            <p>Other</p>

          </div>
        </div>
      </div>

      <div class="pricing-column col-lg-4">
        <div class="card">
          <div class="card-header">
            <h3>S-Corps </h3>
            <h3>& LLC's</h3>
          </div>
          <div class="card-body">
            <h2 class="price-text">$465-$555</h2>
            <p>Form 1120</p>
            <p>Form 1120S</p>
            <p>Form 1065</p>



          </div>
        </div>
      </div>



    </div>

  </section>


  <!-- Process -->
  <section class="colored-section" class=" our-blog p-0 m-0 bg-silver" id="process">
    <div class="container work-process  pb-5 pt-5">
      <div class="title mb-5 text-center">
        <h3>Our <span class="site-color"> Process</span></h3>
      </div>
      <!-- ============ step 1 =========== -->
      <div class="row">
        <div class="col-md-5">
          <div class="process-box process-left" data-aos="fade-right" data-aos-duration="1000">
            <div class="row">
              <div class="col-md-5">
                <div class="process-step">
                  <p class="m-0 p-0">Step</p>
                  <h2 class="m-0 p-0">01</h2>
                </div>
              </div>
              <div class="col-md-7">
                <h5>What is Lorem Ipsum?</h5>
                <p><small>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </small></p>
              </div>
            </div>
            <div class="process-line-l"></div>
          </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
          <div class="process-point-right"></div>
        </div>
      </div>
      <!-- ============ step 2 =========== -->
      <div class="row">

        <div class="col-md-5">
          <div class="process-point-left"></div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
          <div class="process-box process-right" data-aos="fade-left" data-aos-duration="1000">
            <div class="row">
              <div class="col-md-5">
                <div class="process-step">
                  <p class="m-0 p-0">Step</p>
                  <h2 class="m-0 p-0">02</h2>
                </div>
              </div>
              <div class="col-md-7">
                <h5>What is Lorem Ipsum?</h5>
                <p><small>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </small></p>
              </div>
            </div>
            <div class="process-line-r"></div>
          </div>
        </div>

      </div>
      <!-- ============ step 3 =========== -->
      <div class="row">
        <div class="col-md-5">
          <div class="process-box process-left" data-aos="fade-right" data-aos-duration="1000">
            <div class="row">
              <div class="col-md-5">
                <div class="process-step">
                  <p class="m-0 p-0">Step</p>
                  <h2 class="m-0 p-0">03</h2>
                </div>
              </div>
              <div class="col-md-7">
                <h5>What is Lorem Ipsum?</h5>
                <p><small>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </small></p>
              </div>
            </div>
            <div class="process-line-l"></div>
          </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
          <div class="process-point-right"></div>
        </div>
      </div>
      <!-- ============ step 4 =========== -->
      <div class="row">
        <div class="col-md-5">
          <div class="process-point-left"></div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
          <div class="process-box process-right" data-aos="fade-left" data-aos-duration="1000">
            <div class="row">
              <div class="col-md-5">
                <div class="process-step">
                  <p class="m-0 p-0">Step</p>
                  <h2 class="m-0 p-0">04</h2>
                </div>
              </div>
              <div class="col-md-7">
                <h5>What is Lorem Ipsum?</h5>
                <p><small>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </small></p>
              </div>
            </div>
            <div class="process-line-r"></div>
          </div>
        </div>


      </div>
      <!-- ============ step 3 =========== -->
      <div class="row">
        <div class="col-md-5">
          <div class="process-box process-left" data-aos="fade-right" data-aos-duration="1000">
            <div class="row">
              <div class="col-md-5">
                <div class="process-step">
                  <p class="m-0 p-0">Step</p>
                  <h2 class="m-0 p-0">05</h2>
                </div>
              </div>
              <div class="col-md-7">
                <h5>What is Lorem Ipsum?</h5>
                <p><small>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </small></p>
              </div>
            </div>
            <div class="process-line-l"></div>
          </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
          <div class="process-point-right process-last"></div>
        </div>
      </div>
      <!-- ============ -->
    </div>
  </section>

  <script>
    AOS.init();
  </script>


  <!-- Form -->
  <section id="form">
    <div class="container">
      <h1 class="brand"><span>Cedar & Cypress</span> Contact Us</h1>
      <div class="wrapper animated bounceInLeft">
        <div class="company-info">
          <h3>Cedar & Cypress Tax</h3>
          <ul>
            <li><i class="fa fa-road"></i> 44 Something st</li>
            <li><i class="fa fa-phone"></i> (206) 778-8794</li>
            <li><i class="fa fa-envelope"></i> support@CedarCypressTax.com</li>
          </ul>
        </div>
        <div class="contact">
          <h3>Email Us</h3>
          {{msg}}
          <form method="POST" action="send">
            <p>
              <label>First Name</label>
              <input type="text" name="fname">
            </p>
            <p>
              <label>Last Name</label>
              <input type="text" name="lname">
            </p>
            <p>
              <label>Email Address</label>
              <input type="email" name="email">
            </p>
            <p>
              <label>Phone Number</label>
              <input type="text" name="phone">
            </p>
            <p class="full">
              <label>Message</label>
              <textarea name="message" rows="5"></textarea>
            </p>
            <p class="full">
              <button type="submit">Submit</button>
            </p>
          </form>
        </div>
      </div>
    </div>

  </section>






   <!-- FAQ -->

   <section class="white-section" id="faq">
      <div class="container">
           <div class="row">
             <div class="col-md-12">
               <div class="section-title text-center wow zoomIn">
                 <h1>Frequently Asked Questions</h1>
                 <span></span>
                 <p>Our Frequently Asked Questions here.</p>
               </div>
             </div>
           </div>
           <div class="row">
             <div class="col-md-12">
               <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                 <div class="panel panel-default">
                   <div class="panel-heading" role="tab" id="headingOne">
                     <h4 class="panel-title">
                       <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                         Why not just do my own taxes using Turbo Tax??
                       </a>
                     </h4>
                   </div>
                   <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                     <div class="panel-body">
                       <p>For individuals with little complexity in their tax situation, Turbo Tax is a fine tool.  If however, you have any of a number of complex situations, working with a CPA will routinely pay for itself in the form of higher deductions and better tax planning.  If you have your own business, own rental property, bought or sold or even refinanced your home this year, just to name a few things, you’re at risk of missing deductions if you rely on any kind of automated tax tool.  Often it’s being able to interpret the question the software is asking you, rather than having a human asking you the questions and being to understand and interpret the nuances of your situation. </p>
                     </div>
                   </div>
                 </div>
                 <div class="panel panel-default">
                   <div class="panel-heading" role="tab" id="headingTwo">
                     <h4 class="panel-title">
                       <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                         What’s the difference between a CPA and an Enrolled Agent?
                       </a>
                     </h4>
                   </div>
                   <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                     <div class="panel-body">
                       <p>The CPA Exam is far more rigorous, plus CPAs are required to take 120 hours of continuing education every 3 years (40 hours a year).  Enrolled agents have a less rigorous exam and take much less continuing education.  Enrolled Agents tend to be more tax-focused, whereas CPAs are trained to look at the entire business, including the impact of taxes. </p>
                     </div>
                   </div>
                 </div>
                 <div class="panel panel-default">
                   <div class="panel-heading" role="tab" id="headingThree">
                     <h4 class="panel-title">
                       <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                         How do your prices compare to the tax prep chain stores?
                       </a>
                     </h4>
                   </div>
                   <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                     <div class="panel-body">
                       <p>Truthfully, I’m not certain.   But I can tell you that the clients that have come to me after going to a chain store generally pay less with me than they paid the year before at the big chain.  I believe this is because the pricing at the chain stores is form and formula driven, with little if any discretion based on the client’s situation or the complexity of the work.  I don’t aim to be cheaper than anyone or a “low cost provider” but I do feel it’s important for clients to feel like they’re being treated fairly and getting a good value. </p>
                     </div>
                   </div>
                 </div>
                 <div class="panel panel-default">
                   <div class="panel-heading" role="tab" id="headingFour">
                     <h4 class="panel-title">
                       <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                         Why go to a CPA instead of one of the box stores?
                       </a>
                     </h4>
                   </div>
                   <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                     <div class="panel-body">
                       <p>When you go to a chain store for tax work, you’re not working with someone that will be there after tax season, available to answer questions throughout the year, and who will get to know you both personally and professionally.  Odds are you won’t be working with someone who is an owner of that business.  I’m not going anywhere, I’m here year round, and since it’s my business I have a vested interest in making sure you’re well cared for as a valued client this time and every time. </p>
                     </div>
                   </div>
                 </div>
                 <div class="panel panel-default">
                   <div class="panel-heading" role="tab" id="headingFive">
                     <h4 class="panel-title">
                       <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                         QuickBooks says I can be up and doing my own accounting in 15 minutes?  Why should I call you instead of just doing it myself?
                       </a>
                     </h4>
                   </div>
                   <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                     <div class="panel-body">
                       <p>It’s true that you can run QuickBooks out of the box.  As with most things however, you need to plan with the end in mind.  There is no software out of the box that knows your clients and your business as you do, and much of the functionality of QuickBooks isn’t obvious.  Working with a ProAdvisor (like me) can make sure your setup is optimized and customized for YOU, provide an introduction to the latest features, and help you to see what not to do as well as how to do the required steps to get where you want to be.  After all, you’re not an accountant.  As a painter client of mine says “Anyone can paint.  It’s hard to paint well.” (Thanks Jeff).  Let me help you paint well or even do the painting for you so you can focus your attention on the other parts of your business that need your attention and that you probably enjoy a lot more than the accounting. </p>
                     </div>
                   </div>
                 </div>
               </div>
             </div><!--- END COL -->
           </div><!--- END ROW -->
         </div>


    </section>


  <!-- Footer -->

  <footer class="colored-section" id="footer">
    <div class="container-fluid">
      <i class="social-icon fab fa-facebook-f"></i>
      <i class="social-icon fab fa-twitter"></i>
      <i class="social-icon fab fa-instagram"></i>
      <i class="social-icon fas fa-envelope"></i>
      <p>© Copyright 2020 CedarCypressTax</p>
    </div>
  </footer>

  <!-- Javascript  -->
  <script>
    function myFunction() {
      location.replace("documents.html")
    }
  </script>


</body>

</html>
